/* ============ reset ============ */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

/* ============ global ============ */
:root {
  --black: #222223;
  --gray: #838386;
  --silver: #c1c1c0;
  --white: #fffffa;
  --d-green: #0d3d42;
  --green: #0d5c63;
  --teal: #247b7b;
  --l-teal: #44a1a0;
  --blue: #78cdd7;
  --red: #ae1c2a;
}

.container {
  background-color: var(--d-green);
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 5fr;
  padding: 20px;
  gap: 20px;
}

/* ============ sidebar ============ */
.sidebar {
  background-color: var(--green);
  display: grid;
  justify-items: center;
  align-items: stretch;
  grid-template-rows: 80px;
  grid-auto-rows: 50px;
  gap: 20px;
  padding: 20px;
  border-radius: 0px 60px 20px 0px;
}

.logo {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}

.logoImg {
  width: 50px;
  height: 50px;
  background-image: url("../img/planet.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
}

.logoText {

}

button.project {
  width: 75%;
}

.addProject {
  width: 75%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

input.inputProject {
  min-width: 0px;
  flex: 1;
  padding: 12px;
}

#addProjectBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}

/* ============ content ============ */
.content {
  background-color: var(--green);
  padding: 20px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 60px 20px 20px 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 30px;
  gap: 20px;
}

.activeProject {
  field-sizing: content;
}

#editProjectBtn {
  width: 40px;
  height: 40px;
  background-image: url("../img/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border-radius: 20px;
}

.dueDateHeader {
  margin-left: auto;
}

#sortBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/sort.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  border-radius: 20px;
}

.note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.noteHeader {
  display: flex;
  gap: 20px;
  align-items: center;
}

#noteCheckedBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/unchecked.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}

.noteTitle {
  field-sizing: content;
}

.priorityFlag {
  margin-left: auto;
}

.dueDate {
  field-sizing: content;
}

#expandBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/expand.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}

.noteBody {
  margin-top: 20px;
}

.desc {
  width: 100%;
  text-align: left;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

#listItemCheckedBtn {
  width: 46px;
  height: 28px;
  background-image: url("../img/toggle-switch-off.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 14px;
}

.listItemText {

}

#deleteListItemBtn {
  width: 35px;
  height: 35px;
  background-image: url("../img/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-radius: 20px;
  margin-left: 50px;
}

.addListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

#addListItemBtn {
  width: 35px;
  height: 35px;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border-radius: 20px;
}

.inputListItem {
  field-sizing: content;
}

.noteCtrl {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.noteCtrl label {

}

.noteCtrl select {

}

#editNoteBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/edit.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}

#deleteNoteBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/delete.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}

#addNoteBtn {
  width: 50px;
  height: 50px;
  background-image: url("../img/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  border-radius: 25px;
}